<!DOCTYPE HTML>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Monk Fashion</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/static/admin-assets/css/main.css" rel="stylesheet" type="text/css" />

    <!-- // Toast alert library cdn link  -->
    <!-- Include the Toastr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/dist/toastr.min.css">

    <!-- Include jQuery (required by Toastr) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include the Toastr JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/dist/toastr.min.js"></script>
