<!-- <% include('../layouts/header.ejs') %> -->
<%- include('../layouts/header')-%>


<section class="vh-100 bg-image">
    
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Edit Categories</h2>
              
              
              <form  method="post" >
                <div class="mb-4">
                    <label for="product_name" class="form-label">Category title</label>
                    <input type="hidden" name="id" value="<%= categories._id%>">
                    <input type="text" name="name" placeholder="Type here" value="<%= categories.name %> " class="form-control" id="product_name">
                </div>
               
               
               
                <div class="card-body">
                    <div class="input-upload">
                          </div>
                </div>
              
            <input type="submit" value="Submit" class="btn btn-success btn-md rounded font-sm hover-up" >
        </form>   
           
        </div>
    </div> <!-- card end// -->
   
    
     <!-- card end// -->
</div>


   

              
              <script>
                      // Remove error message after 3 seconds
        setTimeout(() => {
          const errorMessage = document.getElementById("span");
          if (errorMessage) {
            errorMessage.style.display = "none";
          }
        }, 3000);
        setTimeout(() => {
          const emailExistMessage = document.getElementById("emailexistMessage");
          if (emailExistMessage) {
            emailexistMessage.style.display = "none";
          }
        }, 3000);
        setTimeout(() => {
          const sucessMessage = document.getElementById("sucessMessage");
          if (sucessMessage) {
            sucessMessage.style.display = "none";
          }
        }, 3000);



                
              </script>

              
              

<%- include('../layouts/footer')-%>

