<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <title>MONK FASHION</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon"  href="/static/asset/images/MonkFashionLogo.jpeg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/static/user-assets/css/maind134.css?v=3.4">


     <!-- magic zoom cdn  -->
     <link rel="stylesheet" href="/static/asset/magiczoomplus/magiczoomplus.css">
     <script src="/static/asset/magiczoomplus/magiczoomplus.js"></script>
    
    
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

</head>

<body>
    <header class="header-area header-style-1 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a href="#">9991 123 123</a></li>
                            <li><i class="fi-rs-marker"></i><a  href="page-contact.html">Our location</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            
                            <li>
                                <i class="fi-rs-user"></i><a href="/home/Profile">Profile</a>
                            </li>
                            <li>
                                <% if(locals.userData) {%>

                              
                                <i class="fi-rs-user"></i><a href="/home/Profile"><%=userData.name%></a>
                                <% } else {%>
                                <i class="fi-rs-user"></i><a href="/login">Log In / Sign Up</a>
                                    <%}%>
                            </li>
                            <li>
                                <i class="fi-rs-user"></i><a href="/logout">Log OUT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="/home" class="fs-2">MONK FASHION</a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                        <form action="/home/allProducts" id="searchForm">
                           
                            <input type="text" name="search" onchange="submitSearch()" placeholder="Search for items...">
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/user/cart">
                                    <img class="svgInject" alt="Evara" src="/static/user-assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count blue" name ="wishlistQuantityIcon">0</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/user/cart">
                                    <img alt="MONG" src="/static/user-assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count blue" name ="cartQuantityIcon" id="cartQuantityIcon"><%= locals.cartQuantity ? cartQuantity : 0 %></span>
                                   
                                </a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative justify-content-center">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="/home">
                         <div class="logo logo-width-1">
                             <a href="/home" class="fs-2">MONK FASHION</a>
                        </div>
                    </a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>
                                <li><a class="active" href="/home">Home </a>
                                   
                                </li>
                                <li>
                                    <a href="/home/about">About</a>
                                </li>
                                <li><a href="/home/allProducts">Shop </i></a>
                                   
                                </li>
                                <li class="position-static"><a href="#">Mega menu </i></a>
                                  
                                </li>
                              
                                <li>
                                    <a href="/home/allProducts">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-block">
                </div>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/home/wishlist">
                                <img alt="Mongo" src="/static/user-assets/imgs/theme/icons/icon-heart.svg">
                                <span class="pro-count white" name ="wishlistQuantityIcon">0</span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/user/cart">
                                <img alt="Evara" src="/static/user-assets/imgs/theme/icons/icon-cart.svg">
                                <span class="pro-count white" name ="cartQuantityIcon" id="cartQuantityIconMobile"><%= locals.cartQuantity ? cartQuantity : 0 %></span>
                            </a>
                            
                        </div>
                        <div class="header-action-icon-2 d-block d-lg-none">
                            <div class="burger-icon burger-icon-white">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    window.onload = ()=>{
        updateCartAndWishlistQuantity()
    }
    function submitSearch() {
        // Assuming you want to submit the form when the text input changes
        document.getElementById("searchForm").submit();
    }

   function updateCartAndWishlistQuantity(){
            fetch('/getCartWishlistQuantity',{
                method:'get'
            })
            .then(response => response.json())
            .then((data)=>{
                // console.log(data)
                if( data.success){
                    const quantityElements = document.querySelectorAll('[name="cartQuantityIcon"]');
                        quantityElements.forEach(element => {
                            element.innerText = data.cartQuantity;
                        });
                        const wishlistQuantity = document.querySelectorAll('[name="wishlistQuantityIcon"]');
                        wishlistQuantity.forEach(element => {
                            element.innerText = data.wishlistQuantity;
                        });
                }
            })
    }
</script>