<%-include('../layouts/headerUser')-%>

<%-include('../layouts/mobileHeaderUser')-%>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Pages
                    <span></span> Contact us
                </div>
            </div>
        </div>
        <section class="hero-2 bg-green">
            <div class="hero-content">
                <div class="container">
                    <div class="text-center">
                        <h4 class="text-brand mb-20">Get in touch</h4>
                        <h1 class="mb-20 wow fadeIn animated font-xxl fw-900">
                            Let's Talk About <br>Your <span class="text-style-1">Idea</span>
                        </h1>
                        <p class="w-50 m-auto mb-50 wow fadeIn animated">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quam eius placeat, a quidem mollitia at accusantium reprehenderit pariatur provident nam ratione incidunt magnam sequi.</p>
                        <p class="wow fadeIn animated">
                            <a class="btn btn-brand btn-lg font-weight-bold text-white border-radius-5 btn-shadow-brand hover-up" href="/home/about">About Us</a>
                            <a class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white ml-15 border-radius-5 btn-shadow-brand hover-up">Support Center</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-border pt-50 pb-50">
            <div class="container">
                <div  class="leaflet-map mb-50">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15696.327718745137!2d76.09656044460594!3d10.415067635399465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7f342cf886e37%3A0x8b237cd2db24c3bc!2sTriprayar%2C%20Kerala!5e0!3m2!1sen!2sin!4v1704526562643!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                </div>
                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h4 class="mb-15 text-brand">Office</h4>
                        East Road <br>
                        Kochi,Kerala ,680570<br>
                        <abbr title="Phone">Phone:</abbr> 9985643211<br>
                        <abbr title="Email">Email: </abbr>abhilashabhi2003@gmail.com<br>
                        <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-10"></i>View map</a>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h4 class="mb-15 text-brand">Studio</h4>
                        East Road <br>
                        Kochi,Kerala ,680570<br>
                        <abbr title="Phone">Phone:</abbr> 9985643211<br>
                        <abbr title="Email">Email: </abbr>abhilashabhi2003@gmail.com<br>
                        <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-10"></i>View map</a>
                    </div>
                    <div class="col-md-4">
                        <h4 class="mb-15 text-brand">Shop</h4>
                        East Road <br>
                        Kochi,Kerala ,680570<br>
                        <abbr title="Phone">Phone:</abbr> 9985643211<br>
                        <abbr title="Email">Email: </abbr>abhilashabhi2003@gmail.com<br>
                        <a class="btn btn-outline btn-sm btn-brand-outline font-weight-bold text-brand bg-white text-hover-white mt-20 border-radius-5 btn-shadow-brand hover-up"> <i class="fi-rs-marker mr-10"></i> View map</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 m-auto">
                        <div class="contact-from-area padding-20-row-col wow FadeInUp">
                            <h3 class="mb-10 text-center">Contact Us </h3>
                            <p class="text-muted mb-30 text-center font-sm">Feel free to contact us.</p>
                            <form class="contact-form-style text-center" id="contact-form">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="input-style mb-20">
                                            <input name="name" placeholder="First Name" id="name"  pattern="[A-Za-z]+" type="text" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="input-style mb-20">
                                            <input name="email" placeholder="Your Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" type="email" id="email" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="input-style mb-20">
                                            <input name="telephone" placeholder="Your Phone" type="tel" id="phone" pattern="[0-9]{10}" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="input-style mb-20">
                                            <input name="subject" placeholder="Subject" type="text" id="subject" pattern="[A-Za-z]+" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="textarea-style mb-30">
                                            <textarea name="message" placeholder="Message" id="content"></textarea>
                                        </div>
                                        <button class=" " type="button" onclick="submitForm()">Send message</button>
                                    </div>
                                </div>
                            </form>
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
    </main>
    <%-include('../layouts/footerUser')-%>
    <script>
        function submitForm() {
    // Get input values
    var name = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    var phone = document.getElementById('phone').value;
    var subject = document.getElementById('subject').value;

    // Regular expressions
    var nameRegex = /^[A-Za-z]+$/;
    var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    var phoneRegex = /^[0-9]{10}$/;

    // Validation
    if (!nameRegex.test(name)) {
        toastr.warning('Please enter a valid first name.');
        return;
    }

    if (!emailRegex.test(email)) {
        toastr.warning('Please enter a valid email address.');
        return;
    }

    if (!phoneRegex.test(phone)) {
        toastr.warning('Please enter a valid 10-digit phone number.');
        return;
    }

    

  submitContact()
}
        function submitContact(){
           const name = document.getElementById('name').value
           const email = document.getElementById('email').value
          const subject =  document.getElementById('subject').value
          const mobile = document.getElementById('phone').value
          const content = document.getElementById('content').value
          console.log(name,"-",email,"-",subject,"-",mobile,"-",content)

          fetch('/home/contact/submitMessage',{
            method:'post',
            headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        name:name,
                        email: email,
                        subject:subject,
                        mobile:mobile,
                        content:content
                    }),
            })   
            .then(response => response.json())
            .then((data)=>{
                if(data.success){
                    toastr.success(data.message)
                }else{
                    toastr.warning(data.message)
                }
            })
            .catch(error => {
                    console.log('Error :', error);
                });
        }
    </script>
   
