<%- include('../../partials/adminHeader')-%>
<style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
      color: #495057;
      text-align: center;
      
    }
    h1 {
      color: #dc3545;
    }
    p {
      font-size: 18px;
    }
    pre {
      background-color: #e2e3e5;
      padding: 10px;
      border-radius: 5px;
      overflow: auto;
    }
  </style>

<body>
  <div class="continer mt-100 ">
    <h1 class="mt-20">Oops! Something Went Wrong</h1>
  <p class="mt-20">We're sorry, but an unexpected error occurred. Please try again later.</p>
  <% if (error) { %>
    <h2 class="mt-20">Error Details:</h2>
    <button class="btn-primary" onclick="goHome()" >Return Home</button>
    <pre class="mt-20"><%= error %></pre>
  <% } %>
  </div>
<script>
      function goHome(){
    window.location.href="/admin/home"
}
</script>
</body>
</html>
