<%-include('../layouts/headerUser')-%>

<%-include('../layouts/mobileHeaderUser')-%>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
      color: #495057;
      text-align: center;
      margin: 50px;
    }
    h1 {
      color: #dc3545;
    }
    p {
      font-size: 18px;
    }
    pre {
      background-color: #e2e3e5;
      padding: 10px;
      border-radius: 5px;
      overflow: auto;
    }
  </style>

<body>
  <h1>Oopqqs! Something Went Wrong</h1>
  <p>We're sorry, but an unexpected error occurred. Please try again later.</p>
  <% if (errorDetails) { %>
    <h2>Error Details:</h2>
    <pre><%= errorDetails %></pre>
  <% } %>
</body>
<%-include('../layouts/footerUser')-%>

