<%- include('../layouts/header')-%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Otp-Verification</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/css/styleotp.css">

   


  </head>
  <body style="background: #a569bd">
  <div  class="d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center continer">
      <div class="card py-5 px-3">
        <h5 class="m-0">Email Verification </h5>
        <span class="mobile-text"
          ><b>Enter the code we just sent on your Email</b>
            
            <b class="text-color"><%=locals.email ?email:''%>  </b>
        </span>
        <div class="d-flex flex-row mt-5">
            <form method ="post" >

                <input type="text"  name="otp" class="form-control" autofocus="" >
                <input type="submit"  value="verify otp" class=" text-white text-fs-2 btn-primary">
                <!-- <input type="text" class="submit" value="verify"> -->
                <div class="text-center mt-5">
                  <span class="d-block mobile-text" id="countdown"></span>
                  <span class="d-block mobile-text" id="resend"></span>
                </div>
            </form>
        </div>
        <div class="text-danger">
            <%=locals.message ?message:''%>

        </div>
        <div class="text-center mt-5">
          <span class="d-block mobile-text" id="countdown"></span>
          <span class="d-block mobile-text" id="resend"></span>
        </div>
      </div>
    </div>
    <!-- <script>
      document.addEventListener('DOMContentLoaded', function () {
    let countdown = 10; // Set the initial countdown value in seconds

    function updateTimer() {
        document.getElementById('countdown').innerText = `Resend OTP in ${countdown} seconds`;

        if (countdown === 0) {
            document.getElementById('resend').innerText = 'You can resend OTP now';
        } else {
            countdown--;
            setTimeout(updateTimer, 1000); // Update every second
        }
    }

    // Start the timer when the page loads
    updateTimer();
});
    </script> -->
    <script src="../../public/script/otp.js"></script>
</div>
  </body>
</html>
<%- include('../layouts/header')-%>
